*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'poppins', sans-serif;
}

.hero_bg_img_cont img{
    width: 100%;
    height: 100%;
}


.hero_bg_img_cont {
    background-color: black;
    z-index: 1;
    opacity: 0.5;
    height: 700px;
}


.netflix_logo {
    position: absolute;
    width: 130px;
    height: 35px;
    margin-left: 12%;
    margin-top: 20px;
}

.navbar {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    box-shadow: inset rgb(20, 19, 19) 0px 15px 30px;
}

.navbar_nav_items {
    display: flex;
    margin-right: 10%;
    margin-top: 25px;
}

.nav_item{
    margin-right: 20px;
}

.language_drop_down {
    width: 120px;
    height: 28px;
    text-align: center;
    border-radius: 3px;
    color: white;
    background: transparent;
    font-weight: 500;
}

.SIGNIN {
    height: 28px;
    width: 80px;
    border-radius: 3px;
    background-color: red;
    border-style: none;
    color: white;
    cursor:pointer;
}


.hero_bg_overlay h1{
    position: absolute;
    bottom: 360px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    font-size: 45px;
}

.hero_bg_overlay h2{
    position: absolute;
    bottom: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    font-size: 20px;
    font-weight: 100;
}

.line {
    position: absolute;
    bottom: 265px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    font-size: 20px;
    font-weight: 100;
}


.hero_bg_overlay input{
    position: absolute;
    bottom: 190px;
    left: 0;
    right: 225px;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    font-weight: 100;
    height: 55px;
    border-radius: 4px;
    background: transparent;
    color: white;
    border-color: white;
    box-shadow: inset rgb(20, 19, 19) 0px 10px 80px;
    border-width: 0.2px;
}

.btn {
    position: absolute;
    bottom: 190px;
    left: 375px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    font-weight: 100;
    height: 55px;
    border-radius: 4px;
    background-color: red;
    border-style: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.section1 {
    height: 500px;
    border-top: 8px solid #373737; /* Top line - adjust color and thickness as needed */
    border-bottom: 8px solid #373737;
    margin-top: 0%;
    display: flex;
}

.hero, .section1{
    margin: 0;
    padding: 0;
}

.img1 img{
    height: 400px;
    position: absolute;
    margin-bottom: 50%;
    margin-right: 20%;
}

.text1 {
    width: 50%;
    margin-top: 10%;
}

.text1 h1{
    font-size: 50px;
    margin-left: 100px;
}

.text1 h2 {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
}

.section2 {
    padding:0;
    margin:0;
    height: 500px;
    border-bottom: 8px solid #373737;
    margin-top: 0%;
    display: flex;
}

.img2 img{
    height: 400px;
    position: absolute;
    margin-bottom: 50%;
    margin-left: 15%;
}

.img2 {
    width: 40%;
}

.text2 {
    width: 50%;
    margin-top: 10%;
    margin-left: 80px;
}

.text2 h1{
    font-size: 50px;
    margin-left: 100px;
}

.text2 h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 100px;
}

.section3 {
    height: 500px;
    border-bottom: 8px solid #373737;
    display: flex;
    margin: 0;
    padding: 0;
}

.img3 img{
    height: 400px;
    position: absolute;
    margin-bottom: 50%;
    margin-right: 20%;
    margin-top: 60px;
}

.text3 {
    width: 50%;
    margin-top: 10%;
}

.text3 h1{
    font-size: 50px;
    margin-left: 100px;
}

.text3 h2 {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
}


.section4 {
    padding:0;
    margin:0;
    height: 500px;
    border-bottom: 8px solid #373737;
    display: flex;
}

.img4 img{
    height: 400px;
    position: absolute;
    margin-bottom: 50%;
    margin-left: 15%;
    margin-top: 5%;
}

.img4 {
    width: 40%;
}

.text4 {
    width: 50%;
    margin-top: 10%;
    margin-left: 80px;
}

.text4 h1{
    font-size: 50px;
    margin-left: 100px;
}

.text4 h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 100px;
}

.section5 {
    height: 1000px;
    border-bottom: 8px solid #373737;
}

.text5 h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 70px;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.toggle-btn {
    background-color: #373737;
    color: white;
    height: 90px;
    width: 80%;
    margin-top: 10px;
    line-height: 90px;
}

.toggle-btn p{
    margin-left: 20px;
}
